"""Domain exceptions for {{ project_name }}."""

from {{ project_name }}.domain.exceptions.base import DomainError
from {{ project_name }}.domain.exceptions.validation import RequiredFieldError, ValidationError

__all__ = [
    "DomainError",
    "RequiredFieldError",
    "ValidationError",
]
